/*Fonts*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* style.css */

/* header styles */
header {
    display: flex;
    padding: 0%;
    align-items: center;
}

/* navbar styles starts */

.logo {
    margin-right: 850px;
}
.navbar {
    justify-content: space-between;
    margin: 30px 150px 130px ;
    align-items: center;

}

.navbar-items {
  display: flex;
  align-items: center;
  padding: 20px ;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}

.nav-links a.active {
  font-weight: bold;
}

.text-gray {
    opacity: 70%;
}
.cart-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-text {
  font-weight: normal;
  font-size: 16px;
}

.cart-icon {
  height: 20px;
  width: auto;
}

@media screen  and (max-width : 576px) {
    .hide{
        display: none;
    }   
    .logo {
    margin-right: 120px;
    }
    .navbar {
        margin: 0 10px;
        justify-content: space-between;
        align-items: center;
    }
    .logo-png {
        height: 70px;
    }
    .cart-text {
     font-weight: normal;
     font-size: 18px;
    }

    .cart-icon {
     height: 22px;
     width: auto;
    }
    

}
